@font-face {
    font-family: "Roboto";
    src: url('roboto.ttf');
}

body {
    font-family: "Shure";
    src: url('Shure.ttf');
    margin: 0;
    -webkit-user-select: none;
    background-image:url(bg.jpg) ;
    background-repeat: no-repeat;
}

p {
    pointer-events: none;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.top img {
    height: 32;
    margin: auto auto auto 12;
}

.top p:nth-child(2) {
    text-align: center;
    margin: 12 auto 12 auto;
    font-size: 1.6rem;
}

.top p:last-child {
    text-align: right;
    margin: auto 12 auto 0;
    font-size: 1.6rem;
}


.content {
    display: grid;
    color: whitesmoke;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px;
    margin: 12;
}


.card {
    background: rgba(238, 232, 232, 0.423);
    border-radius: 6px;
    padding: 16;
    box-sizing: border-box;
}
.content .card:nth-child(1),
.content .card:nth-child(2) {
    order: 0;
    grid-column: span 3;
}
.card:nth-child(3),
.card:nth-child(4),
.card:nth-child(5) {
    order: 1;
    grid-column: span 2;
}
.card:nth-child(6),
.card:nth-child(7) {
    order: 2;
    grid-column: span 3;
}
.card:nth-child(8) {
    order: 3;
    grid-column: span 6;
}
.card .title {
    display: flex;
    font-size: 1.1rem;
    margin-bottom: 8;
}
.card .title p:first-child {
    font-weight: 600;
    margin: 0;
}
.card .title p:last-child {
    margin: auto 0 0 12;
}



.split {
    position: relative;
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 48px;
}
.split > div {
    position: relative;
}
.split > div:first-child > div {
}
.split > div:first-child > p {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    left: 0;
    right: 0;
    margin: 0;
}
.split > div:first-child > p::after{
    content: "°C";
    font-size: 1.4rem;
}
.split > div:last-child > div {
    margin-top: 12;
}
.split > div:last-child > p {
    margin: 4 0 0 0;
    text-align: right;
}


.large p {
    font-size: 2.1rem;
    margin: 12 0 0;
    text-align: right;
}

.throughput {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 14;
}
.throughput p {
    margin: 0;
}
.throughput p:first-child::before {
    content: "⇓";
    margin-right: 6;
}
.throughput p:last-child::before {
    content: "⇪";
    margin-right: 6;
}

/* Charts */
#cpu_load_chart,
#cpu_clock_chart,
#cpu_tdp_chart,
#gpu_load_chart,
#gpu_vram_chart,
#gpu_tdp_chart {
    background: #ccc;
    width: 100% !important;
    height: 6 !important;
    margin: 12 0 0;
}
#ram_load_chart,
#network_load_chart,
#audio_volume_chart {
    background: #ccc;
    width: 100% !important;
    height: 12 !important;
    margin: 12 0 12;
}

#storage_load_chart {
    width: 100% !important;
    height: 72 !important;
}

#frame_timestamp_chart {
    width: 100% !important;
    height: 92 !important;
}

#motherboard_fan_load_chart {
    width: 100% !important;
    height: 148 !important;
}

#audio_spectrum_chart {
    width: 100% !important;
    height: 140 !important;
}

@media only screen and (min-width: 1100px){
    .content .card:nth-child(1),
    .content .card:nth-child(2) {
        grid-column: span 2;
    }
    
    .card:nth-child(6) {
        order: 0;
        grid-column: span 2;
    }
    .card:nth-child(3),
    .card:nth-child(4),
    .card:nth-child(5) {
        order: 3;
        grid-column: span 2;
    }

    .card:nth-child(8) {
        order: 2;
        grid-column: span 3;
    }

    #audio_spectrum_chart {
        height: 110 !important;
    }
}
